.p_baaa{
  line-height: 20px;
}
  #signup_div_baaa{
    height: 640px;
    width: 350px;
   margin:auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    margin-top: -20px;
  }

  #signup_div_baaa > div {
    padding-left: 20px;
    padding-right: 20px;
  }
  #social_div_baaa {
    width: 290px;
    height: 290px;
    margin:auto;
  }
  .sign_text_baaa{
    font-size: 30px;
    padding-top: 10px;
  }
  #social_div_baaa > img {
 width:100%;
 height:100%;
 margin:auto;
  
  }

  #google_baaa {
   display:flex;
   padding-left: 25%;
    cursor: pointer;
     border:1px solid black;
    margin:auto;
      width: 290px; 
      margin-top:10px;
      height:45px;
      padding-top: 2px;
      
  }

  #google_baaa > img {
    width: 26px;
    gap: 10px;
    height:24px;
    padding-top: 10px;
    padding-right: 10px;
  }
  #google_baaa{
    font-size: 20px;
  

  }
  #login_button_baaa {
    margin-top: 20px;
    height: 45px;
    width: 290px;
    background-color: #fc2779;
    border: none;
    color: white;
    cursor: pointer;
  }

  

  

  